/* app global css */
@import url('https://fonts.cdnfonts.com/css/milliard');
@import url('vue-tel-input/dist/vue-tel-input.css');
@import url('vue-file-agent/dist/vue-file-agent.css');

.bb {
    border: 1px solid black;
}

.bw {
    border: 1px solid white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'milliard', sans-serif !important;
}

html, body {
    font-family: 'milliard', sans-serif !important;
}

.full-height {
    height: 100vh !important;
}

a {
    text-decoration: none;
}

.q-tab-panel {
    padding: 0 !important;
}

.q-menu {
    box-shadow: none !important;
    border: .2px solid lightgray !important;
}

.client-infos {
    border-left: 2px dashed lightgray !important;
}

main.q-page {
    background-color: #f2f2f2 !important;
}

thead {
 background: white;
}

.q-table {
    margin-top: 1rem;
}

.q-field--outlined .q-field__control {
    padding: 0 1px !important;
    padding-right: 1px !important;
}

.q-field__label {
    margin-left: 5px !important;
}

.q-field__append {
    margin-right: 5px !important;
}

.q-field__native.row.items-center {
    padding-left: 5px;
    padding-right: 15px !important;
}

input {
    padding-left: 5px !important;
}

textarea {
    padding-left: 5px !important;
}

.q-dialog__inner--minimized {
    padding: 0px !important;
}

.q-field__bottom {
    padding: 3px 12px 0 !important;
}

.q-layout.q-layout--standard {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0 !important;
}


.q-dialog__inner--minimized > div {
    max-width: 80vw;
}


.q-field__control, .dp__input {
    height: 46px !important;
}

.q-select--multiple .q-field__inner .q-field__control.relative-position.row.no-wrap {
    height: auto !important;
}

.q-field--auto-height .q-field__control, .q-field--auto-height .q-field__native {
    min-height: 46px !important;
}

.q-field__marginal {
    height: 46px !important;
}

.q-field--auto-height.q-field--labeled .q-field__control-container {
    padding-top: 5px !important;
}

.q-textarea .q-field__control {
    height: 100px !important;
}

.q-field__label {
    top: 12px !important;
}

.q-table {
    margin-top: 0rem !important;
}

.phone {
    padding-right: 15px !important;
}

.dp__input_icon_pad {
    padding-left: 35px !important;
}

.dp__select {
    color: #308be5 !important;
}

svg.dp__icon.dp__clear_icon.dp__input_icons {
    display: none;
}

.avatar-list {
    flex-direction:row !important; 
    justify-content:start !important; 
    align-items:center !important;
}

div.q-field__native.row.items-center.cursor-pointer {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

p {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

div.scroll-center div div.q-scrollarea__content {
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center !important;
}
/* .q-field__control {
    height: 44px !important;
}

.q-field--auto-height .q-field__control, .q-field--auto-height .q-field__native {
    height: 44px !important;
    min-height: 44px;
} */

/* .q-field__label {
    top: 9px !important;
    font-size: .75rem !important;
} */

.q-card.q-card--square.no-border-radius.q-card--flat.no-shadow {
    min-height: 100vh;
}

.q-table tbody td {
    min-width: 0rem !important;
}

.tasks-table table.q-table {
    width: auto !important;
    height: auto !important;
}

.tasks-table table.q-table td {
    border-right: 10px solid #f2f2f2 !important;
    border-top: 10px solid #f2f2f2 !important;

}

.tasks-table table.q-table th{
    border-right: 10px solid #f2f2f2 !important;
}

.bordered {
    border: 0.05px solid lightgrey
}

.q-chip.row.inline.no-wrap.items-center.q-chip--dense {
    margin-bottom: -5px !important;
    margin-top: 15px !important;
}

svg.dp__icon.dp__input_icon.dp__input_icons {
    padding-top: 18px !important;
}

input.dp__pointer.dp__input.dp__input_icon_pad {
    padding-top: 18px !important;
}

.q-select div div div div span, .select div div div div input {
    margin-top: .75rem !important;
}

.q-select div div div div.no-wrap span.ellipsis {
    margin-top: 0 !important;
}

.q-select div div div div span {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
} 

.phone-input {
    height:46px !important;
}
.text-overflow {
    overflow:hidden !important;
    text-overflow: ellipsis !important;
}

.q-field__prepend label div div div div div div {
    margin-bottom: 10px !important;
}

.vue-tel-input {
    box-shadow: none !important;
    border-color: lightgray ;
    transition: 500ms ;
  }

.vue-tel-input:hover {
    border-color: #308be5 ;
    border-width: 1px ;
    transition: 500ms !;
}

.vue-tel-input:focus-within {
    border-color: #308be5 ;
    border-width: 2px ;
    transition: 500ms ;
}

div.q-avatar__content img {
    border: 1px solid #308be5 !important; 
  }

.q-select--with-input div div div input {
    padding-top: .75rem !important;
}

.q-menu.q-position-engine.scroll.pop {
    height: auto !important;
    width: auto !important;
    min-height: auto !important;
    min-width: auto !important;
}

.q-tab {
    min-height: 36px !important;
 }

.q-table thead, .q-table tr, .q-table th, .q-table td{
    border-color: transparent !important;
    border: none !important;
}

a.q-btn.q-btn-item.non-selectable.no-outline.q-btn--flat.q-btn--rectangle.q-btn--actionable.q-focusable.q-hoverable.q-btn--dense {
    display: none !important;
  }

a.q-btn.q-btn-item.non-selectable.no-outline.q-btn--flat.q-btn--rectangle.q-btn--actionable.q-focusable.q-hoverable.q-btn--dense{
    display: flex !important;
  }

.q-editor__toolbar-group {
    width: -webkit-fill-available !important;
}

*::-webkit-scrollbar { 
    display: none; 
}

/* div.q-layout-container div div.scroll {
    height: 100vh;
} */

.q-item.q-item-type.row.no-wrap.q-item--clickable.q-link.cursor-pointer.q-focusable.q-hoverable.bg-blue-1 {
    max-width: 300px !important;
}

.q-message-text-content.q-message-text-content--received.text-white {
    max-width: 300px !important;
}

@media (max-width: 995px){
.q-table tbody td {
    min-width: 0rem !important;
}
}

@media (max-width: 1023px) { 
    .client-infos {
        border-left: none !important;
    }
    
    .avatar {
        border-bottom: 2px dashed #eee;
    }
}

@media (max-width: 600px) { 
    .large-btn {
        font-size: 15px !important;
    }
    .client-info {
        font-size: 1rem !important;
    }
}

@media (max-width: 327px) { 
    .large-btn {
        font-size: 12px !important;
    }
}

.my-card {
    box-shadow: rgb(39 51 51 / 24%) 0px 4px 8px !important;
    border-radius: 8px !important;
}
  